* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}



/*--------------------------------------------------------------
# Rent Details
--------------------------------------------------------------*/
.rent {
  margin: 10px 20% ;
}

.rent form label {
  margin-bottom: 5px;
  color: var(--color-secondary);
}

.rent form input,
.rent form select,
.rent form textarea {
  margin-bottom: 35px;
  /* width: 100%; */
}

.rent form textarea {
  resize: none;
}

.rent form button[type="submit"] {
  border: none;
  outline: none;
  color: #fff;
  transition: 0.5s;
  font-size: 20px;
  border-radius: 20.3vw;
  background-size: 200%;
  background-image: linear-gradient(to right, #5cdbfe, #8df5fb, #77a8b7);
  width: 200px;
  display: inline-block;
}